/* REMOVE THIS COMMENTED AREA TO WORK WITH PROPER HOVER LINKS INSIDE YOUR PROJECT */
/*
[class^="icon-p-"],
[class*=" icon-p-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("glyphiconsP.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-p-white,
.nav-pills > .active > a > [class^="icon-p-"],
.nav-pills > .active > a > [class*=" icon-p-"],
.nav-list > .active > a > [class^="icon-p-"],
.nav-list > .active > a > [class*=" icon-p-"],
.navbar-inverse .nav > .active > a > [class^="icon-p-"],
.navbar-inverse .nav > .active > a > [class*=" icon-p-"],
.dropdown-menu > li > a:hover > [class^="icon-p-"],
.dropdown-menu > li > a:focus > [class^="icon-p-"],
.dropdown-menu > li > a:hover > [class*=" icon-p-"],
.dropdown-menu > li > a:focus > [class*=" icon-p-"],
.dropdown-menu > .active > a > [class^="icon-p-"],
.dropdown-menu > .active > a > [class*=" icon-p-"],
.dropdown-submenu:hover > a > [class^="icon-p-"],
.dropdown-submenu:focus > a > [class^="icon-p-"],
.dropdown-submenu:hover > a > [class*=" icon-p-"],
.dropdown-submenu:focus > a > [class*=" icon-p-"] {
  background-image: url("glyphiconsP-white.png");
}
 */

/*-------COMMENT THIS IF YOU WANNA USE INSIDE YOUR PROJECT*/

[class^="icon-p-"], 
[class*=" icon-p-"] {
	    background-image: url("../img/glyphiconsP.png");
    }
/*------END COMMENT */

    .icon-p-7zip{background-position:0px 0px;width:14px;height:14px;}
    .icon-p-25_percent{background-position:-18px 0px;width:14px;height:14px;}
    .icon-p-32bit{background-position:-36px 0px;width:14px;height:14px;}
    .icon-p-50_percent{background-position:-54px 0px;width:14px;height:14px;}
    .icon-p-64bit{background-position:-72px 0px;width:14px;height:14px;}
    .icon-p-75_percent{background-position:-90px 0px;width:14px;height:14px;}
    .icon-p-A{background-position:-108px 0px;width:14px;height:14px;}
    .icon-p-accept_database{background-position:-126px 0px;width:14px;height:14px;}
    .icon-p-active_directory{background-position:-144px 0px;width:14px;height:14px;}
    .icon-p-activity_feed{background-position:-162px 0px;width:14px;height:14px;}
    .icon-p-Add_Column{background-position:-180px 0px;width:14px;height:14px;}
    .icon-p-add_database{background-position:-198px 0px;width:14px;height:14px;}
    .icon-p-add_file{background-position:-216px 0px;width:14px;height:14px;}
    .icon-p-add_folder{background-position:-234px 0px;width:14px;height:14px;}
    .icon-p-add_link{background-position:-252px 0px;width:14px;height:14px;}
    .icon-p-add_list{background-position:-270px 0px;width:14px;height:14px;}
    .icon-p-Add_Row{background-position:-288px 0px;width:14px;height:14px;}
    .icon-p-ai{background-position:-306px 0px;width:14px;height:14px;}
    .icon-p-airport{background-position:-324px 0px;width:14px;height:14px;}
    .icon-p-alarm_clock{background-position:-342px 0px;width:14px;height:14px;}
    .icon-p-almost_empty{background-position:-360px 0px;width:14px;height:14px;}
    .icon-p-almost_full{background-position:-378px 0px;width:14px;height:14px;}
    .icon-p-alphabetical_sorting{background-position:-396px 0px;width:14px;height:14px;}
    .icon-p-Alphabetical_Sorting2{background-position:-414px 0px;width:14px;height:14px;}
    .icon-p-android_tablet{background-position:-432px 0px;width:14px;height:14px;}
    .icon-p-android{background-position:-450px 0px;width:14px;height:14px;}
    .icon-p-angel{background-position:-468px 0px;width:14px;height:14px;}
    .icon-p-angry{background-position:-486px 0px;width:14px;height:14px;}
    .icon-p-ankh{background-position:0px -18px;width:14px;height:14px;}
    .icon-p-anubis{background-position:-18px -18px;width:14px;height:14px;}
    .icon-p-apartment{background-position:-36px -18px;width:14px;height:14px;}
    .icon-p-appointment_reminders{background-position:-54px -18px;width:14px;height:14px;}
    .icon-p-approval{background-position:-72px -18px;width:14px;height:14px;}
    .icon-p-approve{background-position:-90px -18px;width:14px;height:14px;}
    .icon-p-area_chart{background-position:-108px -18px;width:14px;height:14px;}
    .icon-p-armchair{background-position:-126px -18px;width:14px;height:14px;}
    .icon-p-arrow{background-position:-144px -18px;width:14px;height:14px;}
    .icon-p-asc{background-position:-162px -18px;width:14px;height:14px;}
    .icon-p-assistant{background-position:-180px -18px;width:14px;height:14px;}
    .icon-p-atm{background-position:-198px -18px;width:14px;height:14px;}
    .icon-p-attach{background-position:-216px -18px;width:14px;height:14px;}
    .icon-p-AUD{background-position:-234px -18px;width:14px;height:14px;}
    .icon-p-automotive{background-position:-252px -18px;width:14px;height:14px;}
    .icon-p-average{background-position:-270px -18px;width:14px;height:14px;}
    .icon-p-avi{background-position:-288px -18px;width:14px;height:14px;}
    .icon-p-B{background-position:-306px -18px;width:14px;height:14px;}
    .icon-p-baby_feet{background-position:-324px -18px;width:14px;height:14px;}
    .icon-p-baby{background-position:-342px -18px;width:14px;height:14px;}
    .icon-p-babyroom{background-position:-360px -18px;width:14px;height:14px;}
    .icon-p-bad_decision{background-position:-378px -18px;width:14px;height:14px;}
    .icon-p-ball_point_pen{background-position:-396px -18px;width:14px;height:14px;}
    .icon-p-bank{background-position:-414px -18px;width:14px;height:14px;}
    .icon-p-bar{background-position:-432px -18px;width:14px;height:14px;}
    .icon-p-barber_scissors{background-position:-450px -18px;width:14px;height:14px;}
    .icon-p-barbers_chair{background-position:-468px -18px;width:14px;height:14px;}
    .icon-p-barbers_pole{background-position:-486px -18px;width:14px;height:14px;}
    .icon-p-barcode_scanner{background-position:0px -36px;width:14px;height:14px;}
    .icon-p-barn{background-position:-18px -36px;width:14px;height:14px;}
    .icon-p-baseball_cap{background-position:-36px -36px;width:14px;height:14px;}
    .icon-p-bat{background-position:-54px -36px;width:14px;height:14px;}
    .icon-p-bath_room{background-position:-72px -36px;width:14px;height:14px;}
    .icon-p-bed{background-position:-90px -36px;width:14px;height:14px;}
    .icon-p-bell{background-position:-108px -36px;width:14px;height:14px;}
    .icon-p-bib{background-position:-126px -36px;width:14px;height:14px;}
    .icon-p-bill{background-position:-144px -36px;width:14px;height:14px;}
    .icon-p-binders{background-position:-162px -36px;width:14px;height:14px;}
    .icon-p-biohazard{background-position:-180px -36px;width:14px;height:14px;}
    .icon-p-biomass{background-position:-198px -36px;width:14px;height:14px;}
    .icon-p-biotech{background-position:-216px -36px;width:14px;height:14px;}
    .icon-p-bird{background-position:-234px -36px;width:14px;height:14px;}
    .icon-p-bishop{background-position:-252px -36px;width:14px;height:14px;}
    .icon-p-black_cat{background-position:-270px -36px;width:14px;height:14px;}
    .icon-p-blackberry{background-position:-288px -36px;width:14px;height:14px;}
    .icon-p-blu_ray{background-position:-306px -36px;width:14px;height:14px;}
    .icon-p-bluetooth{background-position:-324px -36px;width:14px;height:14px;}
    .icon-p-bottle{background-position:-342px -36px;width:14px;height:14px;}
    .icon-p-bowler_hat{background-position:-360px -36px;width:14px;height:14px;}
    .icon-p-box{background-position:-378px -36px;width:14px;height:14px;}
    .icon-p-br{background-position:-396px -36px;width:14px;height:14px;}
    .icon-p-bra{background-position:-414px -36px;width:14px;height:14px;}
    .icon-p-brandenburg_gate{background-position:-432px -36px;width:14px;height:14px;}
    .icon-p-brick{background-position:-450px -36px;width:14px;height:14px;}
    .icon-p-briefcase{background-position:-468px -36px;width:14px;height:14px;}
    .icon-p-broadcasting{background-position:-486px -36px;width:14px;height:14px;}
    .icon-p-brush{background-position:0px -54px;width:14px;height:14px;}
    .icon-p-bug{background-position:-18px -54px;width:14px;height:14px;}
    .icon-p-bull{background-position:-36px -54px;width:14px;height:14px;}
    .icon-p-bungalow{background-position:-54px -54px;width:14px;height:14px;}
    .icon-p-burn{background-position:-72px -54px;width:14px;height:14px;}
    .icon-p-businessman{background-position:-90px -54px;width:14px;height:14px;}
    .icon-p-businesswoman{background-position:-108px -54px;width:14px;height:14px;}
    .icon-p-buy{background-position:-126px -54px;width:14px;height:14px;}
    .icon-p-C{background-position:-144px -54px;width:14px;height:14px;}
    .icon-p-CAD{background-position:-162px -54px;width:14px;height:14px;}
    .icon-p-cafe{background-position:-180px -54px;width:14px;height:14px;}
    .icon-p-candy{background-position:-198px -54px;width:14px;height:14px;}
    .icon-p-capacitor{background-position:-216px -54px;width:14px;height:14px;}
    .icon-p-cards{background-position:-234px -54px;width:14px;height:14px;}
    .icon-p-cat{background-position:-252px -54px;width:14px;height:14px;}
    .icon-p-categorize{background-position:-270px -54px;width:14px;height:14px;}
    .icon-p-cd{background-position:-288px -54px;width:14px;height:14px;}
    .icon-p-cell_phone{background-position:-306px -54px;width:14px;height:14px;}
    .icon-p-channel_mosaic{background-position:-324px -54px;width:14px;height:14px;}
    .icon-p-cheap{background-position:-342px -54px;width:14px;height:14px;}
    .icon-p-check{background-position:-360px -54px;width:14px;height:14px;}
    .icon-p-checkout{background-position:-378px -54px;width:14px;height:14px;}
    .icon-p-CHF{background-position:-396px -54px;width:14px;height:14px;}
    .icon-p-chiansaw{background-position:-414px -54px;width:14px;height:14px;}
    .icon-p-chichen_itza{background-position:-432px -54px;width:14px;height:14px;}
    .icon-p-chicken{background-position:-450px -54px;width:14px;height:14px;}
    .icon-p-child_new_post{background-position:-468px -54px;width:14px;height:14px;}
    .icon-p-chili_pepper{background-position:-486px -54px;width:14px;height:14px;}
    .icon-p-chip{background-position:0px -72px;width:14px;height:14px;}
    .icon-p-chisel_tip_marker{background-position:-18px -72px;width:14px;height:14px;}
    .icon-p-chrome{background-position:-36px -72px;width:14px;height:14px;}
    .icon-p-church{background-position:-54px -72px;width:14px;height:14px;}
    .icon-p-circuit{background-position:-72px -72px;width:14px;height:14px;}
    .icon-p-cisco_router{background-position:-90px -72px;width:14px;height:14px;}
    .icon-p-clenched_fist{background-position:-108px -72px;width:14px;height:14px;}
    .icon-p-cllipboard{background-position:-126px -72px;width:14px;height:14px;}
    .icon-p-cloakroom{background-position:-144px -72px;width:14px;height:14px;}
    .icon-p-closed_topic{background-position:-162px -72px;width:14px;height:14px;}
    .icon-p-cloud_storage{background-position:-180px -72px;width:14px;height:14px;}
    .icon-p-cloud{background-position:-198px -72px;width:14px;height:14px;}
    .icon-p-clover{background-position:-216px -72px;width:14px;height:14px;}
    .icon-p-clubs{background-position:-234px -72px;width:14px;height:14px;}
    .icon-p-coat{background-position:-252px -72px;width:14px;height:14px;}
    .icon-p-coffee_maker{background-position:-270px -72px;width:14px;height:14px;}
    .icon-p-coffee{background-position:-288px -72px;width:14px;height:14px;}
    .icon-p-coffin{background-position:-306px -72px;width:14px;height:14px;}
    .icon-p-collaboration{background-position:-324px -72px;width:14px;height:14px;}
    .icon-p-collapse{background-position:-342px -72px;width:14px;height:14px;}
    .icon-p-collect{background-position:-360px -72px;width:14px;height:14px;}
    .icon-p-color_dropper{background-position:-378px -72px;width:14px;height:14px;}
    .icon-p-comb{background-position:-396px -72px;width:14px;height:14px;}
    .icon-p-combo{background-position:-414px -72px;width:14px;height:14px;}
    .icon-p-commode{background-position:-432px -72px;width:14px;height:14px;}
    .icon-p-compare{background-position:-450px -72px;width:14px;height:14px;}
    .icon-p-compost_heap{background-position:-468px -72px;width:14px;height:14px;}
    .icon-p-computer{background-position:-486px -72px;width:14px;height:14px;}
    .icon-p-connected{background-position:0px -90px;width:14px;height:14px;}
    .icon-p-console{background-position:-18px -90px;width:14px;height:14px;}
    .icon-p-control_panel{background-position:-36px -90px;width:14px;height:14px;}
    .icon-p-cool{background-position:-54px -90px;width:14px;height:14px;}
    .icon-p-copy_link{background-position:-72px -90px;width:14px;height:14px;}
    .icon-p-copy{background-position:-90px -90px;width:14px;height:14px;}
    .icon-p-cottage{background-position:-108px -90px;width:14px;height:14px;}
    .icon-p-cow{background-position:-126px -90px;width:14px;height:14px;}
    .icon-p-crab{background-position:-144px -90px;width:14px;height:14px;}
    .icon-p-crib{background-position:-162px -90px;width:14px;height:14px;}
    .icon-p-crop{background-position:-180px -90px;width:14px;height:14px;}
    .icon-p-cross{background-position:-198px -90px;width:14px;height:14px;}
    .icon-p-crying_baby{background-position:-216px -90px;width:14px;height:14px;}
    .icon-p-crying{background-position:-234px -90px;width:14px;height:14px;}
    .icon-p-crystal_oscillator{background-position:-252px -90px;width:14px;height:14px;}
    .icon-p-csv{background-position:-270px -90px;width:14px;height:14px;}
    .icon-p-currency{background-position:-288px -90px;width:14px;height:14px;}
    .icon-p-cut{background-position:-306px -90px;width:14px;height:14px;}
    .icon-p-D{background-position:-324px -90px;width:14px;height:14px;}
    .icon-p-data_backup{background-position:-342px -90px;width:14px;height:14px;}
    .icon-p-data_configuration{background-position:-360px -90px;width:14px;height:14px;}
    .icon-p-data_encryption{background-position:-378px -90px;width:14px;height:14px;}
    .icon-p-data_protection{background-position:-396px -90px;width:14px;height:14px;}
    .icon-p-data_recovery{background-position:-414px -90px;width:14px;height:14px;}
    .icon-p-database{background-position:-432px -90px;width:14px;height:14px;}
    .icon-p-deadly_spray{background-position:-450px -90px;width:14px;height:14px;}
    .icon-p-decision{background-position:-468px -90px;width:14px;height:14px;}
    .icon-p-Delete_Column{background-position:-486px -90px;width:14px;height:14px;}
    .icon-p-delete_database{background-position:0px -108px;width:14px;height:14px;}
    .icon-p-delete_link{background-position:-18px -108px;width:14px;height:14px;}
    .icon-p-delete_message{background-position:-36px -108px;width:14px;height:14px;}
    .icon-p-Delete_Row{background-position:-54px -108px;width:14px;height:14px;}
    .icon-p-delete_ticket{background-position:-72px -108px;width:14px;height:14px;}
    .icon-p-delete{background-position:-90px -108px;width:14px;height:14px;}
    .icon-p-delivery_food{background-position:-108px -108px;width:14px;height:14px;}
    .icon-p-delivery{background-position:-126px -108px;width:14px;height:14px;}
    .icon-p-dharmacakra{background-position:-144px -108px;width:14px;height:14px;}
    .icon-p-diamond{background-position:-162px -108px;width:14px;height:14px;}
    .icon-p-diamonds{background-position:-180px -108px;width:14px;height:14px;}
    .icon-p-dice{background-position:-198px -108px;width:14px;height:14px;}
    .icon-p-dining_room{background-position:-216px -108px;width:14px;height:14px;}
    .icon-p-diploma1{background-position:-234px -108px;width:14px;height:14px;}
    .icon-p-diploma2{background-position:-252px -108px;width:14px;height:14px;}
    .icon-p-disapprove{background-position:-270px -108px;width:14px;height:14px;}
    .icon-p-disconnected{background-position:-288px -108px;width:14px;height:14px;}
    .icon-p-display{background-position:-306px -108px;width:14px;height:14px;}
    .icon-p-dll{background-position:-324px -108px;width:14px;height:14px;}
    .icon-p-dmg{background-position:-342px -108px;width:14px;height:14px;}
    .icon-p-documents{background-position:-360px -108px;width:14px;height:14px;}
    .icon-p-dog{background-position:-378px -108px;width:14px;height:14px;}
    .icon-p-domain{background-position:-396px -108px;width:14px;height:14px;}
    .icon-p-donat_chart{background-position:-414px -108px;width:14px;height:14px;}
    .icon-p-dossier{background-position:-432px -108px;width:14px;height:14px;}
    .icon-p-down_circular{background-position:-450px -108px;width:14px;height:14px;}
    .icon-p-down{background-position:-468px -108px;width:14px;height:14px;}
    .icon-p-downloads{background-position:-486px -108px;width:14px;height:14px;}
    .icon-p-drill{background-position:0px -126px;width:14px;height:14px;}
    .icon-p-duck{background-position:-18px -126px;width:14px;height:14px;}
    .icon-p-dvd{background-position:-36px -126px;width:14px;height:14px;}
    .icon-p-dw{background-position:-54px -126px;width:14px;height:14px;}
    .icon-p-E{background-position:-72px -126px;width:14px;height:14px;}
    .icon-p-easter_cake{background-position:-90px -126px;width:14px;height:14px;}
    .icon-p-easter_egg{background-position:-108px -126px;width:14px;height:14px;}
    .icon-p-easter_rabbit{background-position:-126px -126px;width:14px;height:14px;}
    .icon-p-edit{background-position:-144px -126px;width:14px;height:14px;}
    .icon-p-eggs{background-position:-162px -126px;width:14px;height:14px;}
    .icon-p-electric_teapot{background-position:-180px -126px;width:14px;height:14px;}
    .icon-p-electrical_sensor{background-position:-198px -126px;width:14px;height:14px;}
    .icon-p-electrical_threshold{background-position:-216px -126px;width:14px;height:14px;}
    .icon-p-electricity{background-position:-234px -126px;width:14px;height:14px;}
    .icon-p-electro_devices{background-position:-252px -126px;width:14px;height:14px;}
    .icon-p-electronics{background-position:-270px -126px;width:14px;height:14px;}
    .icon-p-ellipse_stroked{background-position:-288px -126px;width:14px;height:14px;}
    .icon-p-ellipse{background-position:-306px -126px;width:14px;height:14px;}
    .icon-p-empty_battery{background-position:-324px -126px;width:14px;height:14px;}
    .icon-p-empty_box{background-position:-342px -126px;width:14px;height:14px;}
    .icon-p-engineering{background-position:-360px -126px;width:14px;height:14px;}
    .icon-p-erase{background-position:-378px -126px;width:14px;height:14px;}
    .icon-p-eraser{background-position:-396px -126px;width:14px;height:14px;}
    .icon-p-ethernet_off{background-position:-414px -126px;width:14px;height:14px;}
    .icon-p-ethernet_on{background-position:-432px -126px;width:14px;height:14px;}
    .icon-p-EUR{background-position:-450px -126px;width:14px;height:14px;}
    .icon-p-evil{background-position:-468px -126px;width:14px;height:14px;}
    .icon-p-excel{background-position:-486px -126px;width:14px;height:14px;}
    .icon-p-exe{background-position:0px -144px;width:14px;height:14px;}
    .icon-p-expand{background-position:-18px -144px;width:14px;height:14px;}
    .icon-p-expensive{background-position:-36px -144px;width:14px;height:14px;}
    .icon-p-extensions{background-position:-54px -144px;width:14px;height:14px;}
    .icon-p-external_link{background-position:-72px -144px;width:14px;height:14px;}
    .icon-p-external{background-position:-90px -144px;width:14px;height:14px;}
    .icon-p-F{background-position:-108px -144px;width:14px;height:14px;}
    .icon-p-factory{background-position:-126px -144px;width:14px;height:14px;}
    .icon-p-fan{background-position:-144px -144px;width:14px;height:14px;}
    .icon-p-fan2{background-position:-162px -144px;width:14px;height:14px;}
    .icon-p-filled_box{background-position:-180px -144px;width:14px;height:14px;}
    .icon-p-finger_and_thumb{background-position:-198px -144px;width:14px;height:14px;}
    .icon-p-fire_extinguisher{background-position:-216px -144px;width:14px;height:14px;}
    .icon-p-firefox{background-position:-234px -144px;width:14px;height:14px;}
    .icon-p-fish{background-position:-252px -144px;width:14px;height:14px;}
    .icon-p-fish2{background-position:-270px -144px;width:14px;height:14px;}
    .icon-p-fl{background-position:-288px -144px;width:14px;height:14px;}
    .icon-p-flip_flop{background-position:-306px -144px;width:14px;height:14px;}
    .icon-p-flip_horizontal{background-position:-324px -144px;width:14px;height:14px;}
    .icon-p-flip_vertical{background-position:-342px -144px;width:14px;height:14px;}
    .icon-p-flow_chart{background-position:-360px -144px;width:14px;height:14px;}
    .icon-p-flv{background-position:-378px -144px;width:14px;height:14px;}
    .icon-p-flying_stork_with_bundle{background-position:-396px -144px;width:14px;height:14px;}
    .icon-p-flying_stork{background-position:-414px -144px;width:14px;height:14px;}
    .icon-p-folder{background-position:-432px -144px;width:14px;height:14px;}
    .icon-p-fork_truck{background-position:-450px -144px;width:14px;height:14px;}
    .icon-p-forward{background-position:-468px -144px;width:14px;height:14px;}
    .icon-p-four_fingers{background-position:-486px -144px;width:14px;height:14px;}
    .icon-p-frankenstein{background-position:0px -162px;width:14px;height:14px;}
    .icon-p-free_shipping{background-position:-18px -162px;width:14px;height:14px;}
    .icon-p-full_battery{background-position:-36px -162px;width:14px;height:14px;}
    .icon-p-fw{background-position:-54px -162px;width:14px;height:14px;}
    .icon-p-G{background-position:-72px -162px;width:14px;height:14px;}
    .icon-p-gaiters{background-position:-90px -162px;width:14px;height:14px;}
    .icon-p-garage{background-position:-108px -162px;width:14px;height:14px;}
    .icon-p-garden_gloves{background-position:-126px -162px;width:14px;height:14px;}
    .icon-p-garden_shears{background-position:-144px -162px;width:14px;height:14px;}
    .icon-p-gas_mask{background-position:-162px -162px;width:14px;height:14px;}
    .icon-p-gas_station{background-position:-180px -162px;width:14px;height:14px;}
    .icon-p-gas{background-position:-198px -162px;width:14px;height:14px;}
    .icon-p-GBP{background-position:-216px -162px;width:14px;height:14px;}
    .icon-p-geisha{background-position:-234px -162px;width:14px;height:14px;}
    .icon-p-genealogy{background-position:-252px -162px;width:14px;height:14px;}
    .icon-p-generic_mouse{background-position:-270px -162px;width:14px;height:14px;}
    .icon-p-generic_sorting{background-position:-288px -162px;width:14px;height:14px;}
    .icon-p-Generic_Sorting2{background-position:-306px -162px;width:14px;height:14px;}
    .icon-p-geothermal{background-position:-324px -162px;width:14px;height:14px;}
    .icon-p-german_hat{background-position:-342px -162px;width:14px;height:14px;}
    .icon-p-ghost{background-position:-360px -162px;width:14px;height:14px;}
    .icon-p-gif{background-position:-378px -162px;width:14px;height:14px;}
    .icon-p-gift{background-position:-396px -162px;width:14px;height:14px;}
    .icon-p-gis{background-position:-414px -162px;width:14px;height:14px;}
    .icon-p-gmail_login{background-position:-432px -162px;width:14px;height:14px;}
    .icon-p-goatee{background-position:-450px -162px;width:14px;height:14px;}
    .icon-p-good_decision{background-position:-468px -162px;width:14px;height:14px;}
    .icon-p-google_alerts{background-position:-486px -162px;width:14px;height:14px;}
    .icon-p-google_blog_search{background-position:0px -180px;width:14px;height:14px;}
    .icon-p-google_code{background-position:-18px -180px;width:14px;height:14px;}
    .icon-p-google_drive{background-position:-36px -180px;width:14px;height:14px;}
    .icon-p-google_earth{background-position:-54px -180px;width:14px;height:14px;}
    .icon-p-google_groups{background-position:-72px -180px;width:14px;height:14px;}
    .icon-p-google_images{background-position:-90px -180px;width:14px;height:14px;}
    .icon-p-google_mobile{background-position:-108px -180px;width:14px;height:14px;}
    .icon-p-google_news{background-position:-126px -180px;width:14px;height:14px;}
    .icon-p-google_scholar{background-position:-144px -180px;width:14px;height:14px;}
    .icon-p-google_sketchup{background-position:-162px -180px;width:14px;height:14px;}
    .icon-p-google_translate{background-position:-180px -180px;width:14px;height:14px;}
    .icon-p-google_web_search{background-position:-198px -180px;width:14px;height:14px;}
    .icon-p-gps_device{background-position:-216px -180px;width:14px;height:14px;}
    .icon-p-gpx{background-position:-234px -180px;width:14px;height:14px;}
    .icon-p-graduation_cap{background-position:-252px -180px;width:14px;height:14px;}
    .icon-p-great_wall{background-position:-270px -180px;width:14px;height:14px;}
    .icon-p-greentech{background-position:-288px -180px;width:14px;height:14px;}
    .icon-p-grey{background-position:-306px -180px;width:14px;height:14px;}
    .icon-p-H{background-position:-324px -180px;width:14px;height:14px;}
    .icon-p-hair_band{background-position:-342px -180px;width:14px;height:14px;}
    .icon-p-hair_brush{background-position:-360px -180px;width:14px;height:14px;}
    .icon-p-hair_clip{background-position:-378px -180px;width:14px;height:14px;}
    .icon-p-hair_dryer{background-position:-396px -180px;width:14px;height:14px;}
    .icon-p-hair_washing_sink{background-position:-414px -180px;width:14px;height:14px;}
    .icon-p-hammer{background-position:-432px -180px;width:14px;height:14px;}
    .icon-p-hand_planting{background-position:-450px -180px;width:14px;height:14px;}
    .icon-p-handshake{background-position:-468px -180px;width:14px;height:14px;}
    .icon-p-happy{background-position:-486px -180px;width:14px;height:14px;}
    .icon-p-hat_beanie{background-position:0px -198px;width:14px;height:14px;}
    .icon-p-hdd{background-position:-18px -198px;width:14px;height:14px;}
    .icon-p-hdtv{background-position:-36px -198px;width:14px;height:14px;}
    .icon-p-headstone{background-position:-54px -198px;width:14px;height:14px;}
    .icon-p-hearts{background-position:-72px -198px;width:14px;height:14px;}
    .icon-p-heat_map{background-position:-90px -198px;width:14px;height:14px;}
    .icon-p-heating_room{background-position:-108px -198px;width:14px;height:14px;}
    .icon-p-hex_burner{background-position:-126px -198px;width:14px;height:14px;}
    .icon-p-hexagon{background-position:-144px -198px;width:14px;height:14px;}
    .icon-p-high_importance{background-position:-162px -198px;width:14px;height:14px;}
    .icon-p-HKD{background-position:-180px -198px;width:14px;height:14px;}
    .icon-p-holy_bible{background-position:-198px -198px;width:14px;height:14px;}
    .icon-p-honey{background-position:-216px -198px;width:14px;height:14px;}
    .icon-p-hospital{background-position:-234px -198px;width:14px;height:14px;}
    .icon-p-hospital2{background-position:-252px -198px;width:14px;height:14px;}
    .icon-p-hot_chocolate{background-position:-270px -198px;width:14px;height:14px;}
    .icon-p-hot_tube{background-position:-288px -198px;width:14px;height:14px;}
    .icon-p-hotel{background-position:-306px -198px;width:14px;height:14px;}
    .icon-p-hub{background-position:-324px -198px;width:14px;height:14px;}
    .icon-p-hydroelectric{background-position:-342px -198px;width:14px;height:14px;}
    .icon-p-I{background-position:-360px -198px;width:14px;height:14px;}
    .icon-p-icq{background-position:-378px -198px;width:14px;height:14px;}
    .icon-p-id{background-position:-396px -198px;width:14px;height:14px;}
    .icon-p-idea{background-position:-414px -198px;width:14px;height:14px;}
    .icon-p-ie{background-position:-432px -198px;width:14px;height:14px;}
    .icon-p-in_love{background-position:-450px -198px;width:14px;height:14px;}
    .icon-p-infrared_beam_sending{background-position:-468px -198px;width:14px;height:14px;}
    .icon-p-infrared_sensor{background-position:-486px -198px;width:14px;height:14px;}
    .icon-p-infrared{background-position:0px -216px;width:14px;height:14px;}
    .icon-p-integrated_circuit{background-position:-18px -216px;width:14px;height:14px;}
    .icon-p-internal{background-position:-36px -216px;width:14px;height:14px;}
    .icon-p-internet{background-position:-54px -216px;width:14px;height:14px;}
    .icon-p-invisible{background-position:-72px -216px;width:14px;height:14px;}
    .icon-p-invoice{background-position:-90px -216px;width:14px;height:14px;}
    .icon-p-ip_address{background-position:-108px -216px;width:14px;height:14px;}
    .icon-p-iPad_mini{background-position:-126px -216px;width:14px;height:14px;}
    .icon-p-iPad{background-position:-144px -216px;width:14px;height:14px;}
    .icon-p-iphone{background-position:-162px -216px;width:14px;height:14px;}
    .icon-p-iron{background-position:-180px -216px;width:14px;height:14px;}
    .icon-p-J{background-position:-198px -216px;width:14px;height:14px;}
    .icon-p-jacket{background-position:-216px -216px;width:14px;height:14px;}
    .icon-p-jacuzzi{background-position:-234px -216px;width:14px;height:14px;}
    .icon-p-joker{background-position:-252px -216px;width:14px;height:14px;}
    .icon-p-JPY{background-position:-270px -216px;width:14px;height:14px;}
    .icon-p-jumper{background-position:-288px -216px;width:14px;height:14px;}
    .icon-p-K{background-position:-306px -216px;width:14px;height:14px;}
    .icon-p-kettle{background-position:-324px -216px;width:14px;height:14px;}
    .icon-p-keyboard{background-position:-342px -216px;width:14px;height:14px;}
    .icon-p-king{background-position:-360px -216px;width:14px;height:14px;}
    .icon-p-kiss{background-position:-378px -216px;width:14px;height:14px;}
    .icon-p-kitchen{background-position:-396px -216px;width:14px;height:14px;}
    .icon-p-kml{background-position:-414px -216px;width:14px;height:14px;}
    .icon-p-kmz{background-position:-432px -216px;width:14px;height:14px;}
    .icon-p-knight{background-position:-450px -216px;width:14px;height:14px;}
    .icon-p-koran{background-position:-468px -216px;width:14px;height:14px;}
    .icon-p-L{background-position:-486px -216px;width:14px;height:14px;}
    .icon-p-ladder{background-position:0px -234px;width:14px;height:14px;}
    .icon-p-lamp{background-position:-18px -234px;width:14px;height:14px;}
    .icon-p-laser_beam{background-position:-36px -234px;width:14px;height:14px;}
    .icon-p-latern{background-position:-54px -234px;width:14px;height:14px;}
    .icon-p-led_diode{background-position:-72px -234px;width:14px;height:14px;}
    .icon-p-left_circular{background-position:-90px -234px;width:14px;height:14px;}
    .icon-p-left_round{background-position:-108px -234px;width:14px;height:14px;}
    .icon-p-left{background-position:-126px -234px;width:14px;height:14px;}
    .icon-p-likes{background-position:-144px -234px;width:14px;height:14px;}
    .icon-p-line_width{background-position:-162px -234px;width:14px;height:14px;}
    .icon-p-line{background-position:-180px -234px;width:14px;height:14px;}
    .icon-p-linux_client{background-position:-198px -234px;width:14px;height:14px;}
    .icon-p-living_room{background-position:-216px -234px;width:14px;height:14px;}
    .icon-p-lock_landscape{background-position:-234px -234px;width:14px;height:14px;}
    .icon-p-lock_portrait{background-position:-252px -234px;width:14px;height:14px;}
    .icon-p-log_cabin{background-position:-270px -234px;width:14px;height:14px;}
    .icon-p-lol{background-position:-288px -234px;width:14px;height:14px;}
    .icon-p-long_beard{background-position:-306px -234px;width:14px;height:14px;}
    .icon-p-low_importance{background-position:-324px -234px;width:14px;height:14px;}
    .icon-p-M{background-position:-342px -234px;width:14px;height:14px;}
    .icon-p-mac_client{background-position:-360px -234px;width:14px;height:14px;}
    .icon-p-make_decision{background-position:-378px -234px;width:14px;height:14px;}
    .icon-p-martian{background-position:-396px -234px;width:14px;height:14px;}
    .icon-p-master{background-position:-414px -234px;width:14px;height:14px;}
    .icon-p-matches{background-position:-432px -234px;width:14px;height:14px;}
    .icon-p-memmory_slot{background-position:-450px -234px;width:14px;height:14px;}
    .icon-p-menorah{background-position:-468px -234px;width:14px;height:14px;}
    .icon-p-mens_underwear{background-position:-486px -234px;width:14px;height:14px;}
    .icon-p-mess_tin{background-position:0px -252px;width:14px;height:14px;}
    .icon-p-message_outline{background-position:-18px -252px;width:14px;height:14px;}
    .icon-p-message{background-position:-36px -252px;width:14px;height:14px;}
    .icon-p-milk{background-position:-54px -252px;width:14px;height:14px;}
    .icon-p-mind_map{background-position:-72px -252px;width:14px;height:14px;}
    .icon-p-mixer{background-position:-90px -252px;width:14px;height:14px;}
    .icon-p-mms{background-position:-108px -252px;width:14px;height:14px;}
    .icon-p-mobile_home{background-position:-126px -252px;width:14px;height:14px;}
    .icon-p-money_bag{background-position:-144px -252px;width:14px;height:14px;}
    .icon-p-monitor{background-position:-162px -252px;width:14px;height:14px;}
    .icon-p-mosque{background-position:-180px -252px;width:14px;height:14px;}
    .icon-p-motion_detector{background-position:-198px -252px;width:14px;height:14px;}
    .icon-p-mouse_left_click{background-position:-216px -252px;width:14px;height:14px;}
    .icon-p-mouse_right_click{background-position:-234px -252px;width:14px;height:14px;}
    .icon-p-mouse_scrolling{background-position:-252px -252px;width:14px;height:14px;}
    .icon-p-mouse{background-position:-270px -252px;width:14px;height:14px;}
    .icon-p-mov{background-position:-288px -252px;width:14px;height:14px;}
    .icon-p-moved_topic{background-position:-306px -252px;width:14px;height:14px;}
    .icon-p-movies{background-position:-324px -252px;width:14px;height:14px;}
    .icon-p-mp3{background-position:-342px -252px;width:14px;height:14px;}
    .icon-p-mpg{background-position:-360px -252px;width:14px;height:14px;}
    .icon-p-multicast{background-position:-378px -252px;width:14px;height:14px;}
    .icon-p-multiple_devices{background-position:-396px -252px;width:14px;height:14px;}
    .icon-p-multiple_input{background-position:-414px -252px;width:14px;height:14px;}
    .icon-p-multiple_smatphones{background-position:-432px -252px;width:14px;height:14px;}
    .icon-p-mummy{background-position:-450px -252px;width:14px;height:14px;}
    .icon-p-music{background-position:-468px -252px;width:14px;height:14px;}
    .icon-p-mustache{background-position:-486px -252px;width:14px;height:14px;}
    .icon-p-my_topic{background-position:0px -270px;width:14px;height:14px;}
    .icon-p-mysql{background-position:-18px -270px;width:14px;height:14px;}
    .icon-p-N{background-position:-36px -270px;width:14px;height:14px;}
    .icon-p-nail{background-position:-54px -270px;width:14px;height:14px;}
    .icon-p-nappy{background-position:-72px -270px;width:14px;height:14px;}
    .icon-p-nas{background-position:-90px -270px;width:14px;height:14px;}
    .icon-p-negative_dynamic{background-position:-108px -270px;width:14px;height:14px;}
    .icon-p-netscape{background-position:-126px -270px;width:14px;height:14px;}
    .icon-p-network_cable{background-position:-144px -270px;width:14px;height:14px;}
    .icon-p-network_card{background-position:-162px -270px;width:14px;height:14px;}
    .icon-p-network{background-position:-180px -270px;width:14px;height:14px;}
    .icon-p-neutral_decision{background-position:-198px -270px;width:14px;height:14px;}
    .icon-p-new_post{background-position:-216px -270px;width:14px;height:14px;}
    .icon-p-new{background-position:-234px -270px;width:14px;height:14px;}
    .icon-p-nmea{background-position:-252px -270px;width:14px;height:14px;}
    .icon-p-notebook{background-position:-270px -270px;width:14px;height:14px;}
    .icon-p-nuclear_power_plant{background-position:-288px -270px;width:14px;height:14px;}
    .icon-p-numerical_sorting{background-position:-306px -270px;width:14px;height:14px;}
    .icon-p-Numerical_Sorting2{background-position:-324px -270px;width:14px;height:14px;}
    .icon-p-O{background-position:-342px -270px;width:14px;height:14px;}
    .icon-p-octagon{background-position:-360px -270px;width:14px;height:14px;}
    .icon-p-ogg{background-position:-378px -270px;width:14px;height:14px;}
    .icon-p-one_finger{background-position:-396px -270px;width:14px;height:14px;}
    .icon-p-one_free{background-position:-414px -270px;width:14px;height:14px;}
    .icon-p-online{background-position:-432px -270px;width:14px;height:14px;}
    .icon-p-open_in_browser{background-position:-450px -270px;width:14px;height:14px;}
    .icon-p-opera{background-position:-468px -270px;width:14px;height:14px;}
    .icon-p-organization{background-position:-486px -270px;width:14px;height:14px;}
    .icon-p-origami{background-position:0px -288px;width:14px;height:14px;}
    .icon-p-osm{background-position:-18px -288px;width:14px;height:14px;}
    .icon-p-outline_star{background-position:-36px -288px;width:14px;height:14px;}
    .icon-p-outline{background-position:-54px -288px;width:14px;height:14px;}
    .icon-p-overhead_crane{background-position:-72px -288px;width:14px;height:14px;}
    .icon-p-P{background-position:-90px -288px;width:14px;height:14px;}
    .icon-p-pacifier{background-position:-108px -288px;width:14px;height:14px;}
    .icon-p-package{background-position:-126px -288px;width:14px;height:14px;}
    .icon-p-paint_brush{background-position:-144px -288px;width:14px;height:14px;}
    .icon-p-paint_bucket{background-position:-162px -288px;width:14px;height:14px;}
    .icon-p-paper_bag_with_seeds{background-position:-180px -288px;width:14px;height:14px;}
    .icon-p-parallel_tasks{background-position:-198px -288px;width:14px;height:14px;}
    .icon-p-pawn{background-position:-216px -288px;width:14px;height:14px;}
    .icon-p-paypal{background-position:-234px -288px;width:14px;height:14px;}
    .icon-p-pdf{background-position:-252px -288px;width:14px;height:14px;}
    .icon-p-pen{background-position:-270px -288px;width:14px;height:14px;}
    .icon-p-pencil{background-position:-288px -288px;width:14px;height:14px;}
    .icon-p-pentagon{background-position:-306px -288px;width:14px;height:14px;}
    .icon-p-phone{background-position:-324px -288px;width:14px;height:14px;}
    .icon-p-php{background-position:-342px -288px;width:14px;height:14px;}
    .icon-p-pictures{background-position:-360px -288px;width:14px;height:14px;}
    .icon-p-pie{background-position:-378px -288px;width:14px;height:14px;}
    .icon-p-pig{background-position:-396px -288px;width:14px;height:14px;}
    .icon-p-pin{background-position:-414px -288px;width:14px;height:14px;}
    .icon-p-pitchfork{background-position:-432px -288px;width:14px;height:14px;}
    .icon-p-plant_under_rain{background-position:-450px -288px;width:14px;height:14px;}
    .icon-p-plant_under_sun{background-position:-468px -288px;width:14px;height:14px;}
    .icon-p-png{background-position:-486px -288px;width:14px;height:14px;}
    .icon-p-poison{background-position:0px -306px;width:14px;height:14px;}
    .icon-p-poll_topic{background-position:-18px -306px;width:14px;height:14px;}
    .icon-p-popular_topic{background-position:-36px -306px;width:14px;height:14px;}
    .icon-p-porn{background-position:-54px -306px;width:14px;height:14px;}
    .icon-p-positive_dynamic{background-position:-72px -306px;width:14px;height:14px;}
    .icon-p-potentiometer{background-position:-90px -306px;width:14px;height:14px;}
    .icon-p-powder{background-position:-108px -306px;width:14px;height:14px;}
    .icon-p-powerpoint{background-position:-126px -306px;width:14px;height:14px;}
    .icon-p-pranava{background-position:-144px -306px;width:14px;height:14px;}
    .icon-p-prawn{background-position:-162px -306px;width:14px;height:14px;}
    .icon-p-predator{background-position:-180px -306px;width:14px;height:14px;}
    .icon-p-pretzel{background-position:-198px -306px;width:14px;height:14px;}
    .icon-p-price_tag_euro{background-position:-216px -306px;width:14px;height:14px;}
    .icon-p-price_tag{background-position:-234px -306px;width:14px;height:14px;}
    .icon-p-private{background-position:-252px -306px;width:14px;height:14px;}
    .icon-p-processor{background-position:-270px -306px;width:14px;height:14px;}
    .icon-p-ps{background-position:-288px -306px;width:14px;height:14px;}
    .icon-p-psd{background-position:-306px -306px;width:14px;height:14px;}
    .icon-p-pumpkin{background-position:-324px -306px;width:14px;height:14px;}
    .icon-p-purchase_order{background-position:-342px -306px;width:14px;height:14px;}
    .icon-p-pussy_willow{background-position:-360px -306px;width:14px;height:14px;}
    .icon-p-put_in_motion{background-position:-378px -306px;width:14px;height:14px;}
    .icon-p-pyramids{background-position:-396px -306px;width:14px;height:14px;}
    .icon-p-Q{background-position:-414px -306px;width:14px;height:14px;}
    .icon-p-qr_code{background-position:-432px -306px;width:14px;height:14px;}
    .icon-p-queen_gb{background-position:-450px -306px;width:14px;height:14px;}
    .icon-p-queen{background-position:-468px -306px;width:14px;height:14px;}
    .icon-p-question{background-position:-486px -306px;width:14px;height:14px;}
    .icon-p-quote{background-position:0px -324px;width:14px;height:14px;}
    .icon-p-R{background-position:-18px -324px;width:14px;height:14px;}
    .icon-p-rabbit{background-position:-36px -324px;width:14px;height:14px;}
    .icon-p-rack{background-position:-54px -324px;width:14px;height:14px;}
    .icon-p-radar_plot{background-position:-72px -324px;width:14px;height:14px;}
    .icon-p-radio_tower{background-position:-90px -324px;width:14px;height:14px;}
    .icon-p-radioactive{background-position:-108px -324px;width:14px;height:14px;}
    .icon-p-railway_station{background-position:-126px -324px;width:14px;height:14px;}
    .icon-p-rainy_weather{background-position:-144px -324px;width:14px;height:14px;}
    .icon-p-rar{background-position:-162px -324px;width:14px;height:14px;}
    .icon-p-rattle{background-position:-180px -324px;width:14px;height:14px;}
    .icon-p-read_message{background-position:-198px -324px;width:14px;height:14px;}
    .icon-p-rectangle_stroked{background-position:-216px -324px;width:14px;height:14px;}
    .icon-p-rectangle{background-position:-234px -324px;width:14px;height:14px;}
    .icon-p-recurring_appointment{background-position:-252px -324px;width:14px;height:14px;}
    .icon-p-recycling{background-position:-270px -324px;width:14px;height:14px;}
    .icon-p-redeem{background-position:-288px -324px;width:14px;height:14px;}
    .icon-p-relay{background-position:-306px -324px;width:14px;height:14px;}
    .icon-p-reply{background-position:-324px -324px;width:14px;height:14px;}
    .icon-p-research{background-position:-342px -324px;width:14px;height:14px;}
    .icon-p-resistor{background-position:-360px -324px;width:14px;height:14px;}
    .icon-p-resize{background-position:-378px -324px;width:14px;height:14px;}
    .icon-p-response{background-position:-396px -324px;width:14px;height:14px;}
    .icon-p-restaurant{background-position:-414px -324px;width:14px;height:14px;}
    .icon-p-return{background-position:-432px -324px;width:14px;height:14px;}
    .icon-p-reuse{background-position:-450px -324px;width:14px;height:14px;}
    .icon-p-rfid_sensor{background-position:-468px -324px;width:14px;height:14px;}
    .icon-p-rfid_signal{background-position:-486px -324px;width:14px;height:14px;}
    .icon-p-rfid_tag{background-position:0px -342px;width:14px;height:14px;}
    .icon-p-right_circular{background-position:-18px -342px;width:14px;height:14px;}
    .icon-p-right_round{background-position:-36px -342px;width:14px;height:14px;}
    .icon-p-right{background-position:-54px -342px;width:14px;height:14px;}
    .icon-p-rj45{background-position:-72px -342px;width:14px;height:14px;}
    .icon-p-robot{background-position:-90px -342px;width:14px;height:14px;}
    .icon-p-roller_brush{background-position:-108px -342px;width:14px;height:14px;}
    .icon-p-romper{background-position:-126px -342px;width:14px;height:14px;}
    .icon-p-rook{background-position:-144px -342px;width:14px;height:14px;}
    .icon-p-rotate_to_landscape{background-position:-162px -342px;width:14px;height:14px;}
    .icon-p-rotate_to_portrait{background-position:-180px -342px;width:14px;height:14px;}
    .icon-p-rotate{background-position:-198px -342px;width:14px;height:14px;}
    .icon-p-rounded_rectangle{background-position:-216px -342px;width:14px;height:14px;}
    .icon-p-rss{background-position:-234px -342px;width:14px;height:14px;}
    .icon-p-S{background-position:-252px -342px;width:14px;height:14px;}
    .icon-p-sad{background-position:-270px -342px;width:14px;height:14px;}
    .icon-p-safari{background-position:-288px -342px;width:14px;height:14px;}
    .icon-p-safe{background-position:-306px -342px;width:14px;height:14px;}
    .icon-p-sagrada_familia{background-position:-324px -342px;width:14px;height:14px;}
    .icon-p-sale{background-position:-342px -342px;width:14px;height:14px;}
    .icon-p-scanner{background-position:-360px -342px;width:14px;height:14px;}
    .icon-p-scatter_plot{background-position:-378px -342px;width:14px;height:14px;}
    .icon-p-screenshot{background-position:-396px -342px;width:14px;height:14px;}
    .icon-p-screw{background-position:-414px -342px;width:14px;height:14px;}
    .icon-p-screwdriver{background-position:-432px -342px;width:14px;height:14px;}
    .icon-p-scrunchy{background-position:-450px -342px;width:14px;height:14px;}
    .icon-p-scythe{background-position:-468px -342px;width:14px;height:14px;}
    .icon-p-sdtv{background-position:-486px -342px;width:14px;height:14px;}
    .icon-p-SEK{background-position:0px -360px;width:14px;height:14px;}
    .icon-p-self_service_kiosk{background-position:-18px -360px;width:14px;height:14px;}
    .icon-p-sell{background-position:-36px -360px;width:14px;height:14px;}
    .icon-p-send_file{background-position:-54px -360px;width:14px;height:14px;}
    .icon-p-sensor{background-position:-72px -360px;width:14px;height:14px;}
    .icon-p-serial_tasks{background-position:-90px -360px;width:14px;height:14px;}
    .icon-p-sheep_on_bike{background-position:-108px -360px;width:14px;height:14px;}
    .icon-p-sheep{background-position:-126px -360px;width:14px;height:14px;}
    .icon-p-sheep2{background-position:-144px -360px;width:14px;height:14px;}
    .icon-p-shirt{background-position:-162px -360px;width:14px;height:14px;}
    .icon-p-shoe_man{background-position:-180px -360px;width:14px;height:14px;}
    .icon-p-shoe_woman{background-position:-198px -360px;width:14px;height:14px;}
    .icon-p-shop{background-position:-216px -360px;width:14px;height:14px;}
    .icon-p-shoping_bag{background-position:-234px -360px;width:14px;height:14px;}
    .icon-p-shoping_cart_filled{background-position:-252px -360px;width:14px;height:14px;}
    .icon-p-shoping_cart{background-position:-270px -360px;width:14px;height:14px;}
    .icon-p-shopping_basket{background-position:-288px -360px;width:14px;height:14px;}
    .icon-p-short_beard{background-position:-306px -360px;width:14px;height:14px;}
    .icon-p-shorts{background-position:-324px -360px;width:14px;height:14px;}
    .icon-p-sickle{background-position:-342px -360px;width:14px;height:14px;}
    .icon-p-sideburns{background-position:-360px -360px;width:14px;height:14px;}
    .icon-p-skype{background-position:-378px -360px;width:14px;height:14px;}
    .icon-p-sleeping_bag{background-position:-396px -360px;width:14px;height:14px;}
    .icon-p-sleeping_mat{background-position:-414px -360px;width:14px;height:14px;}
    .icon-p-sleeping_room{background-position:-432px -360px;width:14px;height:14px;}
    .icon-p-sleeping{background-position:-450px -360px;width:14px;height:14px;}
    .icon-p-slot_machine{background-position:-468px -360px;width:14px;height:14px;}
    .icon-p-smartphone_tablet{background-position:-486px -360px;width:14px;height:14px;}
    .icon-p-sms{background-position:0px -378px;width:14px;height:14px;}
    .icon-p-so_so{background-position:-18px -378px;width:14px;height:14px;}
    .icon-p-socks{background-position:-36px -378px;width:14px;height:14px;}
    .icon-p-sofa{background-position:-54px -378px;width:14px;height:14px;}
    .icon-p-solar_panel{background-position:-72px -378px;width:14px;height:14px;}
    .icon-p-sombrero{background-position:-90px -378px;width:14px;height:14px;}
    .icon-p-spade{background-position:-108px -378px;width:14px;height:14px;}
    .icon-p-spades{background-position:-126px -378px;width:14px;height:14px;}
    .icon-p-speech_bubble{background-position:-144px -378px;width:14px;height:14px;}
    .icon-p-spider{background-position:-162px -378px;width:14px;height:14px;}
    .icon-p-spiderweb{background-position:-180px -378px;width:14px;height:14px;}
    .icon-p-sproud{background-position:-198px -378px;width:14px;height:14px;}
    .icon-p-stadium{background-position:-216px -378px;width:14px;height:14px;}
    .icon-p-star_crescent{background-position:-234px -378px;width:14px;height:14px;}
    .icon-p-star_of_david{background-position:-252px -378px;width:14px;height:14px;}
    .icon-p-star{background-position:-270px -378px;width:14px;height:14px;}
    .icon-p-stepper_motor{background-position:-288px -378px;width:14px;height:14px;}
    .icon-p-stork_with_bundle{background-position:-306px -378px;width:14px;height:14px;}
    .icon-p-stork{background-position:-324px -378px;width:14px;height:14px;}
    .icon-p-stroller{background-position:-342px -378px;width:14px;height:14px;}
    .icon-p-stubble{background-position:-360px -378px;width:14px;height:14px;}
    .icon-p-sugar{background-position:-378px -378px;width:14px;height:14px;}
    .icon-p-sun_glasses{background-position:-396px -378px;width:14px;height:14px;}
    .icon-p-surprised{background-position:-414px -378px;width:14px;height:14px;}
    .icon-p-survival_bag{background-position:-432px -378px;width:14px;height:14px;}
    .icon-p-sushi{background-position:-450px -378px;width:14px;height:14px;}
    .icon-p-T{background-position:-468px -378px;width:14px;height:14px;}
    .icon-p-t-shirt{background-position:-486px -378px;width:14px;height:14px;}
    .icon-p-table{background-position:0px -396px;width:14px;height:14px;}
    .icon-p-tabletop_radio{background-position:-18px -396px;width:14px;height:14px;}
    .icon-p-tag{background-position:-36px -396px;width:14px;height:14px;}
    .icon-p-tape_drive{background-position:-54px -396px;width:14px;height:14px;}
    .icon-p-tape_measure{background-position:-72px -396px;width:14px;height:14px;}
    .icon-p-tea{background-position:-90px -396px;width:14px;height:14px;}
    .icon-p-teddybear{background-position:-108px -396px;width:14px;height:14px;}
    .icon-p-text{background-position:-126px -396px;width:14px;height:14px;}
    .icon-p-thor_hammer{background-position:-144px -396px;width:14px;height:14px;}
    .icon-p-three_fingers{background-position:-162px -396px;width:14px;height:14px;}
    .icon-p-thumbs_down{background-position:-180px -396px;width:14px;height:14px;}
    .icon-p-thumbs_up{background-position:-198px -396px;width:14px;height:14px;}
    .icon-p-ticket{background-position:-216px -396px;width:14px;height:14px;}
    .icon-p-tongue{background-position:-234px -396px;width:14px;height:14px;}
    .icon-p-topic{background-position:-252px -396px;width:14px;height:14px;}
    .icon-p-torah{background-position:-270px -396px;width:14px;height:14px;}
    .icon-p-torii{background-position:-288px -396px;width:14px;height:14px;}
    .icon-p-touchscreen_smartphone{background-position:-306px -396px;width:14px;height:14px;}
    .icon-p-trainers{background-position:-324px -396px;width:14px;height:14px;}
    .icon-p-trangia_stove{background-position:-342px -396px;width:14px;height:14px;}
    .icon-p-transistor{background-position:-360px -396px;width:14px;height:14px;}
    .icon-p-trash{background-position:-378px -396px;width:14px;height:14px;}
    .icon-p-tree_structure{background-position:-396px -396px;width:14px;height:14px;}
    .icon-p-triangle_stroked{background-position:-414px -396px;width:14px;height:14px;}
    .icon-p-tricycle{background-position:-432px -396px;width:14px;height:14px;}
    .icon-p-trigger_mode{background-position:-450px -396px;width:14px;height:14px;}
    .icon-p-triggering{background-position:-468px -396px;width:14px;height:14px;}
    .icon-p-triskelion{background-position:-486px -396px;width:14px;height:14px;}
    .icon-p-trousers{background-position:0px -414px;width:14px;height:14px;}
    .icon-p-tv{background-position:-18px -414px;width:14px;height:14px;}
    .icon-p-two_fingers{background-position:-36px -414px;width:14px;height:14px;}
    .icon-p-two_hands{background-position:-54px -414px;width:14px;height:14px;}
    .icon-p-two_smatphones{background-position:-72px -414px;width:14px;height:14px;}
    .icon-p-txt{background-position:-90px -414px;width:14px;height:14px;}
    .icon-p-U{background-position:-108px -414px;width:14px;height:14px;}
    .icon-p-up_circular{background-position:-126px -414px;width:14px;height:14px;}
    .icon-p-up{background-position:-144px -414px;width:14px;height:14px;}
    .icon-p-USD{background-position:-162px -414px;width:14px;height:14px;}
    .icon-p-user{background-position:-180px -414px;width:14px;height:14px;}
    .icon-p-V{background-position:-198px -414px;width:14px;height:14px;}
    .icon-p-vampire{background-position:-216px -414px;width:14px;height:14px;}
    .icon-p-van_dyke{background-position:-234px -414px;width:14px;height:14px;}
    .icon-p-variable{background-position:-252px -414px;width:14px;height:14px;}
    .icon-p-very_popular_topic{background-position:-270px -414px;width:14px;height:14px;}
    .icon-p-vhs{background-position:-288px -414px;width:14px;height:14px;}
    .icon-p-View_Details{background-position:-306px -414px;width:14px;height:14px;}
    .icon-p-viking_helmet{background-position:-324px -414px;width:14px;height:14px;}
    .icon-p-viking_ship{background-position:-342px -414px;width:14px;height:14px;}
    .icon-p-visible{background-position:-360px -414px;width:14px;height:14px;}
    .icon-p-voice_presentaion{background-position:-378px -414px;width:14px;height:14px;}
    .icon-p-W{background-position:-396px -414px;width:14px;height:14px;}
    .icon-p-wallpaper_roll{background-position:-414px -414px;width:14px;height:14px;}
    .icon-p-wardrobe{background-position:-432px -414px;width:14px;height:14px;}
    .icon-p-washing_machine{background-position:-450px -414px;width:14px;height:14px;}
    .icon-p-watch{background-position:-468px -414px;width:14px;height:14px;}
    .icon-p-water_bottle{background-position:-486px -414px;width:14px;height:14px;}
    .icon-p-water_hose{background-position:0px -432px;width:14px;height:14px;}
    .icon-p-water{background-position:-18px -432px;width:14px;height:14px;}
    .icon-p-watering_can{background-position:-36px -432px;width:14px;height:14px;}
    .icon-p-werewolf{background-position:-54px -432px;width:14px;height:14px;}
    .icon-p-wheelbarrow{background-position:-72px -432px;width:14px;height:14px;}
    .icon-p-whole_hand{background-position:-90px -432px;width:14px;height:14px;}
    .icon-p-widescreen_tv{background-position:-108px -432px;width:14px;height:14px;}
    .icon-p-win{background-position:-126px -432px;width:14px;height:14px;}
    .icon-p-wind_turbine{background-position:-144px -432px;width:14px;height:14px;}
    .icon-p-windows{background-position:-162px -432px;width:14px;height:14px;}
    .icon-p-windows8_tablet{background-position:-180px -432px;width:14px;height:14px;}
    .icon-p-wink{background-position:-198px -432px;width:14px;height:14px;}
    .icon-p-witch{background-position:-216px -432px;width:14px;height:14px;}
    .icon-p-wizard{background-position:-234px -432px;width:14px;height:14px;}
    .icon-p-wma{background-position:-252px -432px;width:14px;height:14px;}
    .icon-p-womens_underwear{background-position:-270px -432px;width:14px;height:14px;}
    .icon-p-word{background-position:-288px -432px;width:14px;height:14px;}
    .icon-p-X{background-position:-306px -432px;width:14px;height:14px;}
    .icon-p-Y{background-position:-324px -432px;width:14px;height:14px;}
    .icon-p-yin_yang{background-position:-342px -432px;width:14px;height:14px;}
    .icon-p-Z{background-position:-360px -432px;width:14px;height:14px;}
    .icon-p-zip{background-position:-378px -432px;width:14px;height:14px;}
    .icon-p-zombie{background-position:-396px -432px;width:14px;height:14px;}
    .icon-p-zoom_in{background-position:-414px -432px;width:14px;height:14px;}
    .icon-p-zoom_out{background-position:-432px -432px;width:14px;height:14px;}
    /* End Sprite Master CSS */

